 @media (max-width: 768px) {
  .connectInfo {
    grid-template-columns: 1fr; 
    gap: 1rem; 
    font-size: 1.2rem;
  }


}


.container {
  /* max-width: 800px; */
  height: 100vh;
  max-height: 108rem;
  /* margin: 0 auto; */
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  /* height: 576px; */
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/imgs/img_intro_background.jpg') no-repeat center / cover;
  background-color: lightgray; 
  min-height: 400px;
}

.title {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  color: var(--text-secondary);
  font-size: 2.4rem;
  line-height: 1.5;
  max-width: 600px;
  margin: 0 auto;
}

.myInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
  padding: 3.2rem;
  max-height: fit-content;
}

.portrait {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.about{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* max-width: 80rem; */
  justify-content: start;
  gap: 20px;
}

.nav{
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
}

.name {
  font-size: 3.2rem;
  font-weight: 600;
  text-align: center;
}

.button{
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button img{
  width: 2.4rem;
  height: 2.4rem;
}



.connectInfo {
  display: grid;
  text-align: left;
  line-height: 1.6;
  grid-template-columns: repeat(2, 1fr); 
  gap: 1.5rem clamp(1rem, 10vw, 13rem); 
  margin-top: 1.6rem;
  width: fit-content; 
  margin-left: 0;
  margin-right: auto;
}

.contactItem{
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 2.4rem;

  justify-content: flex-start; 
  white-space: nowrap; /* 줄바꿈 방지 */
}

.contactItem img{
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
}