.container {
  height: fit-content;
  background-color: var(--color-cream-100);
  padding: 3.2rem;
  padding-bottom: 8.6rem;;
}

.title{
  font-size: 3.2rem;
  font-weight: bold;
  color: var(--color-navy-900);
  text-align: center;
  margin-bottom: 3.2rem;
}

.skillsContainer{
   background-color: white;
    border-radius: 2rem;
}

.skillIcon{
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.skillCategoryTitle{
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-navy-900);
}

.skillCategory{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;

  padding: 2.4rem 3.2rem;
}

.skillChipsContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

@media (max-width: 480px) {
  .skillCategory{
    flex-direction: column;
    text-align: center;
  }
}

.language{
  background-color: var(--color-terracotta);
  color: var(--color-white);
  padding: 0.5rem 1.6rem;
  border-radius: 1rem;
  font-size: 1.4rem;
}

.skillChip {
  display: inline-block;
  padding: 4px 1.2rem;
  border-radius: 999px;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 4px;
}

.frontend {
  background-color: #e0f2fe; 
  color: #0369a1;            
}

.backend {
  background-color: #dcfce7; 
  color: #15803d;            
}

.devops {
  background-color: #f3e8ff; 
  color: #7e22ce;            
}

