
.header{
    background-color: var(--bg-surface);
    padding: 20px;
    text-align: center;
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logoutButton{
    background-color: transparent;
    border: none;
    color: var(--text-primary);
    font-size: 3.2rem;
    cursor: pointer;
}

.title{
    font-size: 32px;
    font-weight: bold;
    /* color: var(--color-navy-900); */
    color: var(--text-primary);
    /* color: #fbf9e3; */
}

.nav{
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.nav li a:hover{
    color: var(--color-terracotta);
}