
.header{
    background-color: var(--bg-surface);
    padding: 20px;
    text-align: center;
    height: 72px;
}

.title{
    font-size: 24px;
    font-weight: bold;
    /* color: var(--text-primary); */
    color: #fbf9e3;
}

.nav{
    display: flex;
    justify-content: center;
    gap: 20px;
}